<div class="comments">
    {{#each this}}
    <section class="comment">
        <div>
            <h3>{{user.username}} on {{format_date created_at}}</h3>
        </div>
        <div>
            <p>{{comment_text}}</p>
        </div>
    </section>
    {{/each}}
</div>