<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit"><i class="fas fa-plus"></i> Add Comment</button>
    </div>
</form>

<script src="/javascript/comment.js"></script>