<section class="login-page"> 
    <form class="login-form">
        <div>
            <h2>Login</h2>
        </div>
        <div class="login-content-container">
            <label for="email-login">email:</label>
            <input type="text" id="email-login"/>
        </div>
        <div class="login-content-container">
            <label for="password-login">password</label>
            <input type="password" id="password-login"/>
        </div>
        <div>
            <button type="submit"><i class="fas fa-user"></i> login</button>
        </div>
    </form>
    <form class="signup-form">
        <div>
            <h2>Create Account</h2>
        </div>
        <div class="login-content-container"> 
            <label for="username-signup">username</label>
            <input type="text" id="username-signup"/>
        </div>
        <div class="login-content-container">
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup"/>
        </div>
        <div class="login-content-container">
            <label for="password-signup">password</label>
            <input type="password" id="password-signup"/>
        </div>
        <div>
            <button type="submit"><i class="fas fa-user"></i> signup</button>
        </div>
    </form>
</section>

<script src="/javascript/login.js"></script>