<section class="post-content-container">
    <div>
        <h2>{{title}}</h2>
        <h3>Posted by {{user.username}} on {{format_date created_at}}</h3>
        <p>{{post_content}}</p>
    </div>
</section>