<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Tourney:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

</head>
<body>
    <div>
        <header>
            <h1>
                <a href="/"><i class="fas fa-robot"></i> TECH<span id="blog-link">BLOG</span></a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard" id="dashboard"><i class="fas fa-columns"></i>  dashboard</a>
                <button id="logout"><i class="fas fa-sign-out-alt"></i>  logout</button>
                {{else}}
                <a href="/dashboard" id="dashboard"><i class="fas fa-columns"></i>  dashboard</a>
                <a href="/login" id="login"><i class="fas fa-sign-in-alt"></i>  login</a>
                {{/if}}
            </nav>
        </header>
    </div>
    <main>
        {{{ body }}}
    </main>
    <footer>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>