<article>
    <a href="/dashboard" class="back-to-dashboard"><i class="fas fa-long-arrow-alt-left"></i> Back to dashboard</a>
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div class="edit-post-content-container">
            <label for="post-title">Title</label>
            <input name="post-title" type="text" value="{{post.title}}">
        </div>
        <div class="edit-post-content-container">
            <label for="post-content">Post Content</label>
            <input name="post-content" type="text" value="{{post.post_content}}">
        </div>
        <button type="submit"><i class="fas fa-save"></i> Save post</button>
        <button type="button" class="delete-post-btn"><i class="fas fa-trash-alt"></i> Delete post</button>
    </form>
</article>

{{> comment-form}}

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>